.Enchere {
    text-align: center;
  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.form select {
    width: 200px;
    height: 30px;
    margin: 10px;
}

